@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --black: #000000;
  --grey: #7e7d84;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  height: 100%;
  padding: 10px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  text-align: center;
  margin-bottom: 50px;
}
header h1 {
  font-weight: 800;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

header h2 {
  color: var(--grey);
  font-weight: 500;
  font-size: 1.4rem;
}

main {
  gap: 20px;
  display: flex;
}

.editor textarea,
.preview {
  width: 500px;
  height: 600px;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  outline: none;
}

.editor textarea {
  display: flex;
  outline: none;
}

.preview {
  overflow: auto;
  border: 1px solid var(--black);
}

@media screen and (max-width: 1040px) {
  #root {
    display: block;
  }
  header {
    margin-top: 100px;
  }
  main {
    flex-direction: column;
  }
  .editor {
    width: 100%;
  }
  .editor textarea,
  .preview {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.8rem;
  }
  header h2 {
    font-size: 1.1rem;
  }
  .editor textarea,
  .preview {
    height: 300px;
  }
}
