@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

:root {
  --red: #d84d4d;
  --border: #d9dce0;
  --background: #f6f8fa;
  --dark-gray: #333333;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --link-active-color: #004085;
}

.preview blockquote {
  border-left: 4px solid var(--border);
  background-color: var(--background);
  padding: 10px 20px;
  margin: 10px 0;
  font-style: italic;
  color: var(--dark-gray);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.preview code {
  background-color: var(--background);
  border-radius: 3px;
  border: 1px solid var(--border);
  font-family: "Courier Prime", monospace;
  padding: 2px 6px;
  font-size: 90%;
  font-weight: 500;
  color: var(--red);
}

.preview hr {
  border: 0;
  height: 1px;
  background: var(--border);
  margin: 20px 0;
}

.preview .highlight {
  background-color: #ffff99;
  padding: 0 4px;
}

.preview a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
}

.preview a:hover,
.preview a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.preview a:active {
  color: var(--link-active-color);
}
